# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement 
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### e_commerce Schema:

![e_commerce%20_schema.png](attachment:e_commerce%20_schema.png)

### Load Required Libraries

In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

### Connect to DB using Mysql-connector-python package

In [2]:
try:
    db=mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022"
        )
    print("Database connection established")

except Error as err:
    print(f"Error:'{err}'")

finally:
    db.close()

Database connection established

### You are required to create a database named 'e_commerce'

In [6]:
import mysql.connector

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022"
    )
    print("MySQL Database connection successful")
    
    myCursor = db.cursor()
    myCursor.execute("CREATE DATABASE e_commerce20")
    print("MySQL Database created successfully")

except mysql.connector.Error as err:
    print(f"Error: '{err}'")

finally:
    db.close()

MySQL Database connection successful
MySQL Database created successfully

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [7]:
import mysql.connector

# create connection to MySQL server
mydb = mysql.connector.connect(
  host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
)

# create cursor object to execute SQL queries
mycursor = mydb.cursor()

# create supplier table
mycursor.execute("CREATE TABLE supplier (SUPP_ID INT PRIMARY KEY, SUPP_NAME VARCHAR(50), SUPP_CITY VARCHAR(50), SUPP_PHONE VARCHAR(10))")

# create customer table
mycursor.execute("CREATE TABLE customer (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY VARCHAR(30), CUS_GENDER CHAR, PRIMARY KEY (CUS_ID))")

# create category table
mycursor.execute("CREATE TABLE category (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL, PRIMARY KEY (CAT_ID))")

# create product table
mycursor.execute("CREATE TABLE product (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL, PRIMARY KEY (PRO_ID), FOREIGN KEY (CAT_ID) REFERENCES category (CAT_ID))")

# create product_details table
mycursor.execute("CREATE TABLE product_details (PROD_ID INT NOT NULL AUTO_INCREMENT, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL, PRIMARY KEY (PROD_ID), FOREIGN KEY (PRO_ID) REFERENCES product (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES supplier (SUPP_ID))")

# create order table
mycursor.execute("CREATE TABLE order_table (ORD_ID INT NOT NULL AUTO_INCREMENT, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL, PRIMARY KEY (ORD_ID), FOREIGN KEY (CUS_ID) REFERENCES customer (CUS_ID), FOREIGN KEY (PROD_ID) REFERENCES product_details (PROD_ID))")

# create rating table
mycursor.execute("CREATE TABLE rating (RAT_ID INT NOT NULL AUTO_INCREMENT, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL, PRIMARY KEY (RAT_ID), FOREIGN KEY (SUPP_ID) REFERENCES supplier (SUPP_ID), FOREIGN KEY (CUS_ID) REFERENCES customer (CUS_ID))")


# execute the "SHOW TABLES" command
mycursor.execute("SHOW TABLES")

# fetch all the tables
tables = mycursor.fetchall()

# print the list of tables
for table in tables:
  print(table[0])
# close cursor and database connection
mycursor.close()
mydb.close()

category
customer
order_table
product
product_details
rating
supplier

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- | 
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 | 
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [8]:
# insert into "supplier" table
try:
    dbl=mysql.connector.connect(
         host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
        )
    print("MySQL Database connection successful")
    
    myCursor=dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.supplier
        VALUES (1,'Rajesh Retails','Delhi','1234567890'),
            (2,'Appario Ltd.','Mumbai','2589631470'),
            (3,'Knome products','Bangalore','9785462315'),
            (4,'Bansal Retails','Kochi','8975463285'),
            (5,'Mittal Ltd.','Lucknow','7898456532');""")
    dbl.commit()
    print("Data added successfully")
    
    # Display the data inserted with table heading
    myCursor.execute("SELECT * FROM e_commerce20.supplier")
    rows = myCursor.fetchall()
    print("SUPP_ID\tSUPP_NAME\t\tSUPP_CITY\tSUPP_PHONE")
    print("--------------------------------------------------------")
    for row in rows:
        print(f"{row[0]}\t{row[1]}\t{row[2]}\t{row[3]}")
    

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Data added successfully
SUPP_ID	SUPP_NAME		SUPP_CITY	SUPP_PHONE
--------------------------------------------------------
1	Rajesh Retails	Delhi	1234567890
2	Appario Ltd.	Mumbai	2589631470
3	Knome products	Bangalore	9785462315
4	Bansal Retails	Kochi	8975463285
5	Mittal Ltd.	Lucknow	7898456532

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [9]:
# insert into "customer" table
import mysql.connector

try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.customer 
        VALUES (1,'AAKASH','9999999999','DELHI','M'),
            (2,'AMAN','9785463215','NOIDA','M'),
            (3,'NEHA','9999999998','MUMBAI','F'),
            (4,'MEGHA','9994562399','KOLKATA','F'),
            (5,'PULKIT','7895999999','LUCKNOW','M');""")
    dbl.commit()
    print("Data added successfully")
    
    myCursor.execute("SELECT * FROM e_commerce20.customer")
    rows = myCursor.fetchall()

    print("\n------- Customer Table -------\n")
    print("CUS_ID\tCUS_NAME\tCUS_PHONE\tCUS_CITY\t\tCUS_GENDER")
    for row in rows:
        print(row[0], "\t", row[1], "\t\t", row[2], "\t", row[3], "\t\t", row[4])

except mysql.connector.Error as err:
    print(f"Error: '{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Data added successfully

------- Customer Table -------

CUS_ID	CUS_NAME	CUS_PHONE	CUS_CITY		CUS_GENDER
1 	 AAKASH 		 9999999999 	 DELHI 		 M
2 	 AMAN 		 9785463215 	 NOIDA 		 M
3 	 NEHA 		 9999999998 	 MUMBAI 		 F
4 	 MEGHA 		 9994562399 	 KOLKATA 		 F
5 	 PULKIT 		 7895999999 	 LUCKNOW 		 M

#### Table:  category
| CAT_ID | CAT_NAME | 
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES | 
| 4 | ELECTRONICS | 
| 5 | CLOTHES |

In [10]:
# insert into "categoty" table
try:
    dbl=mysql.connector.connect(
       host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor=dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.category 
        VALUES (1,'BOOKS'),
            (2,'GAMES'),
            (3,'GROCERIES'),
            (4,'ELECTRONICS'),
            (5,'CLOTHES');""")
    dbl.commit()
    print("Data added successfully")

    # Retrieve the data inserted into the table
    myCursor.execute("SELECT * FROM e_commerce20.category;")
    records = myCursor.fetchall()
    print("Data inserted into the 'category' table:")
    for record in records:
        print(record)

except Error as err:
    print(f"Error: '{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Data added successfully
Data inserted into the 'category' table:
(1, 'BOOKS')
(2, 'GAMES')
(3, 'GROCERIES')
(4, 'ELECTRONICS')
(5, 'CLOTHES')

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- | 
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 | 
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [11]:
# insert into "product" table

try:
    dbl = mysql.connector.connect(
         host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")
    
    myCursor = dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.product 
        VALUES (1,'GTA V','DFJDJFDJFDJFDJFJF',2),
            (2,'TSHIRT','DFDFJDFJDKFD',5),
            (3,'ROG LAPTOP','DFNTTNTNTERND',4),
            (4,'OATS','REURENTBTOTH',3),
            (5,'HARRY POTTER','NBEMCTHTJTH',1);""")
    dbl.commit()
    print("Data added successfully")

    # Fetch the inserted data and display it
    myCursor.execute("SELECT * FROM e_commerce20.product")
    rows = myCursor.fetchall()
    for row in rows:
        print(row)

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Data added successfully
(1, 'GTA V', 'DFJDJFDJFDJFDJFJF', 2)
(2, 'TSHIRT', 'DFDFJDFJDKFD', 5)
(3, 'ROG LAPTOP', 'DFNTTNTNTERND', 4)
(4, 'OATS', 'REURENTBTOTH', 3)
(5, 'HARRY POTTER', 'NBEMCTHTJTH', 1)

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- | 
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 | 
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [12]:
# insert into "product_details" table
try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.product_details 
        VALUES (1,1,2,1500),
            (2,3,5,30000),
            (3,5,1,3000),
            (4,2,3,2500),
            (5,4,1,1000);""")
    dbl.commit()
    print("Data added successfully")

    # Display the inserted data
    myCursor.execute("SELECT * FROM e_commerce20.product_details")
    rows = myCursor.fetchall()
    print("Inserted data:")
    for row in rows:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if dbl.is_connected():
        myCursor.close()
        dbl.close()
        print("Database connection closed.")

MySQL Database connection successful
Data added successfully
Inserted data:
(1, 1, 2, 1500)
(2, 3, 5, 30000)
(3, 5, 1, 3000)
(4, 2, 3, 2500)
(5, 4, 1, 1000)
Database connection closed.

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [14]:
try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")
    
    myCursor = dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.order_table 
        VALUES (20,1500,'2021-10-12',3,5),
            (25,30500,'2021-09-16',5,2),
            (26,2000,'2021-10-05',1,1),
            (30,3500,'2021-08-16',4,3),
            (50,2000,'2021-10-06',2,1);""")
    dbl.commit()
    print("Data added successfully")
    
    myCursor.execute("SELECT * FROM e_commerce20.order_table")
    result = myCursor.fetchall()
    for row in result:
        print(row)

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Data added successfully
(20, 1500, datetime.date(2021, 10, 12), 3, 5)
(25, 30500, datetime.date(2021, 9, 16), 5, 2)
(26, 2000, datetime.date(2021, 10, 5), 1, 1)
(30, 3500, datetime.date(2021, 8, 16), 4, 3)
(50, 2000, datetime.date(2021, 10, 6), 2, 1)

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- | 
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 | 
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [15]:
# insert into "rating" table

try:
    dbl = mysql.connector.connect(
       host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""INSERT INTO e_commerce20.rating 
        VALUES (1,2,2,4),
            (2,3,4,3),
            (3,5,1,5),
            (4,1,3,2),
            (5,4,5,4);""")
    dbl.commit()
    print("Data added successfully")

    # Displaying the inserted data
    myCursor.execute("SELECT * FROM e_commerce20.rating")
    rows = myCursor.fetchall()
    for row in rows:
        print(row)

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Data added successfully
(1, 2, 2, 4)
(2, 3, 4, 3)
(3, 5, 1, 5)
(4, 1, 3, 2)
(5, 4, 5, 4)

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [16]:
try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""
        SELECT 
            CASE 
                WHEN C.CUS_GENDER = 'M' THEN 'Male' 
                ELSE 'Female' 
            END AS 'Gender',
            COUNT(*) AS 'Count'
        FROM 
            e_commerce20.order_table O 
            JOIN e_commerce20.customer C 
                ON O.CUS_ID = C.CUS_ID 
        WHERE 
            O.ORD_AMOUNT >= 3000 
        GROUP BY 
            C.CUS_GENDER;
    """)

    results = myCursor.fetchall()
    for result in results:
        print(result)

except Error as err:
    print(f"Error: '{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
('Male', 1)
('Female', 1)

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [18]:
try:
    dbl = mysql.connector.connect(
       host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""SELECT O.*, PD.PRO_ID, P.PRO_NAME, C.CUS_NAME
        FROM e_commerce20.order_table O
        INNER JOIN e_commerce20.product_details PD
        ON O.PROD_ID = PD.PROD_ID
        INNER JOIN e_commerce20.product P
        ON PD.PRO_ID = P.PRO_ID
        INNER JOIN e_commerce20.customer C
        ON O.CUS_ID = C.CUS_ID
        WHERE O.CUS_ID = 2;""")

    results = myCursor.fetchall()
    for result in results:
        order_id, order_amount, order_date, prod_id, cus_id, pro_id, pro_name, cus_name = result
        print(f"Order ID: {order_id}")
        print(f"Order Amount: {order_amount}")
        print(f"Order Date: {order_date}")
        print(f"Product ID: {prod_id}")
        print(f"Customer ID: {cus_id}")
        print(f"Product Name: {pro_name}")
        print(f"Customer Name: {cus_name}")
        print("\n")

except Error as err:
    print(f"Error: '{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Order ID: 50
Order Amount: 2000
Order Date: 2021-10-06
Product ID: 2
Customer ID: 1
Product Name: GTA V
Customer Name: AMAN

### Q5) Display the Supplier details who can supply more than one product.

In [19]:
try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
  database="e_commerce20"
    )
    print("MySQL Database connection successful")
    
    myCursor = dbl.cursor()
    myCursor.execute("""SELECT * FROM e_commerce20.supplier
        WHERE SUPP_ID IN (
        SELECT SUPP_ID FROM e_commerce20.product_details 
        GROUP BY SUPP_ID
        HAVING COUNT(PROD_ID) > 1);""")
    
    results = myCursor.fetchall()
    for result in results:
        print(result)
    
except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
(1, 'Rajesh Retails', 'Delhi', '1234567890')

### Q6) Find the category of the product whose order amount is minimum.

In [24]:
try:
    dbl=mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
        database="e_commerce20"
    )
    print("MySQL Database connection successful")
    
    myCursor=dbl.cursor()
    myCursor.execute("""SELECT CAT_NAME FROM e_commerce20.category
        WHERE CAT_ID IN (
        SELECT CAT_ID FROM e_commerce20.product
        WHERE PRO_ID IN (
        SELECT PRO_ID FROM e_commerce20.product_details
        WHERE PROD_ID IN (
        SELECT PROD_ID FROM e_commerce20.order_table
        WHERE ORD_AMOUNT IN (SELECT MIN(ORD_AMOUNT) FROM e_commerce20.order_table))));""")
    
    results=myCursor.fetchall()
    for result in results:
        print(result)
    

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
('GROCERIES',)

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [25]:
try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
        database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""SELECT PRO_ID,PRO_NAME FROM e_commerce20.product
        WHERE PRO_ID IN (
        SELECT PRO_ID FROM e_commerce20.product_details
        WHERE PROD_ID IN (
        SELECT PROD_ID FROM e_commerce20.order_table
        WHERE ORD_DATE > '2021-10-05'));""")

    results = myCursor.fetchall()
    for result in results:
        print(result)

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
(4, 'OATS')
(1, 'GTA V')

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [26]:
try:
    dbl=mysql.connector.connect(
         host="localhost",
        user="root",
        passwd="Varu@2022",
        database="e_commerce20"
        )
    print("MySQL Database connection successful")
    
    myCursor=dbl.cursor()
    myCursor.execute("""SELECT T2.SUPP_ID,S.SUPP_NAME,T2.RAT_RATSTARS,C.CUS_NAME
        FROM (
        SELECT * FROM (
        SELECT *,ROW_NUMBER() OVER(ORDER BY RAT_RATSTARS DESC) AS ORD FROM e_commerce20.rating) T
        WHERE T.ORD <= 3) T2
        INNER JOIN e_commerce20.supplier S
        ON T2.SUPP_ID=S.SUPP_ID
        INNER JOIN e_commerce20.customer C
        ON T2.CUS_ID=C.CUS_ID;""")
    
    # Get column headers
    headers = [col[0] for col in myCursor.description]
    
    results=myCursor.fetchall()
    
    # Print headers
    print("\t".join(headers))
    
    # Print results
    for result in results:
        print("\t".join(str(val) for val in result))
    
except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
SUPP_ID	SUPP_NAME	RAT_RATSTARS	CUS_NAME
1	Rajesh Retails	5	PULKIT
2	Appario Ltd.	4	AMAN
5	Mittal Ltd.	4	MEGHA

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [27]:
try:
    dbl=mysql.connector.connect(
         host="localhost",
        user="root",
        passwd="Varu@2022",
        database="e_commerce20"
        )
    print("MySQL Database connection successful")
    
    myCursor=dbl.cursor()
    myCursor.execute("""SELECT CUS_NAME,CUS_GENDER
        FROM e_commerce20.customer
        WHERE CUS_NAME LIKE 'A%' OR CUS_NAME LIKE '%A';""")
    
    results=myCursor.fetchall()
    print("Customer Name  | Gender")
    print("-------------------------")
    for result in results:
        print(result)
    

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
Customer Name  | Gender
-------------------------
('AAKASH', 'M')
('AMAN', 'M')
('NEHA', 'F')
('MEGHA', 'F')

### Q10) Display the total order amount of the male customers.

In [28]:
try:
    dbl=mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
        database="e_commerce20"
    )
    print("MySQL Database connection successful")
    
    myCursor=dbl.cursor()
    myCursor.execute("""SELECT SUM(ORD_AMOUNT) AS TOTAL FROM (
        SELECT O.ORD_AMOUNT,O.CUS_ID,C.CUS_GENDER
        FROM e_commerce20.order_table O
        INNER JOIN e_commerce20.customer C
        ON O.CUS_ID=C.CUS_ID
        WHERE C.CUS_GENDER='M') T;""")
    
    results=myCursor.fetchall()
    print("TOTAL")
    for result in results:
        print(result)
    

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
TOTAL
(Decimal('34500'),)

### Q11) Display all the Customers left outer join with  the orders

In [29]:
try:
    dbl = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Varu@2022",
        database="e_commerce20"
    )
    print("MySQL Database connection successful")

    myCursor = dbl.cursor()
    myCursor.execute("""SELECT * 
        FROM e_commerce20.customer C
        LEFT OUTER JOIN e_commerce20.order_table O
        ON C.CUS_ID=O.CUS_ID;""")
    
    # Get column names and print table head
    column_names = [desc[0] for desc in myCursor.description]
    print(column_names)
    
    # Print table rows
    results = myCursor.fetchall()
    for result in results:
        print(result)

except Error as err:
    print(f"Error:'{err}'")

finally:
    myCursor.close()
    dbl.close()

MySQL Database connection successful
['CUS_ID', 'CUS_NAME', 'CUS_PHONE', 'CUS_CITY', 'CUS_GENDER', 'ORD_ID', 'ORD_AMOUNT', 'ORD_DATE', 'CUS_ID', 'PROD_ID']
(1, 'AAKASH', '9999999999', 'DELHI', 'M', 26, 2000, datetime.date(2021, 10, 5), 1, 1)
(2, 'AMAN', '9785463215', 'NOIDA', 'M', 50, 2000, datetime.date(2021, 10, 6), 2, 1)
(3, 'NEHA', '9999999998', 'MUMBAI', 'F', 20, 1500, datetime.date(2021, 10, 12), 3, 5)
(4, 'MEGHA', '9994562399', 'KOLKATA', 'F', 30, 3500, datetime.date(2021, 8, 16), 4, 3)
(5, 'PULKIT', '7895999999', 'LUCKNOW', 'M', 25, 30500, datetime.date(2021, 9, 16), 5, 2)

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)